body{
    color: whitesmoke;
    background-color: rgba(48, 4, 4, 0.877);
}
/* .blog{
    border: 5px solid teal;
    margin: 3%;
    padding: 10px;
    border-radius: 7px;
}
.title{
    text-align: center;
    padding: 5px;
} */
/* #second-title{
    background-color: rgba(165, 42, 42, 0.356);
} */